.rd-code-example {
  background-color: $rdColorLight;
  border: 1px solid $rdColorMediumLight;
  padding: $rdSpacingL;
}

.rd-code-example-item {
  display: none;

  &.show {
    display: block;
  }
}
