.rd-icon-toggle {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 0;
  padding: 0;
  border: 0;
  background: none;
  opacity: .25;
  transition: .2s ease transform, .2s ease opacity;
  transform: rotate(-90deg);

  &:hover {
    opacity: 1
  }

  &:focus {
    outline: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -3.5px;
    margin-left: -7px;
    border: 7px solid transparent;
    border-top-color: $rdColorDark;
  }
}

.rd-active .rd-icon-toggle {
  transform: rotate(0deg);
}
