.rd-section {
  margin-bottom: $rdSectionVerticalSpace;
}

h2.rd-section-head {
  color: $rdColorDark;
  font-size: $rdSectionHeadFontSize;
  font-weight: normal;
  line-height: $rdDefaultLineHeight;
  padding: 0;
  margin: 0 0 $rdSpacingM 0;
  text-transform: uppercase;
  border-bottom: 1px solid $rdColorDark;
}
