{{define "custom_type" -}}
    <div class="rd-content-block">
        <h3 class="rd-content-block-head">{{.Name}}</h3>
        <div class="rd-definition-term">{{.Description}}</div>
        {{template "custom_type_properties" .Properties}}
    </div>

    {{if .Examples}}
        <p data-rd-multi-selection="items-group" data-rd-selected="example1">
            {{range $exampleN, $example := .Examples -}}
                <a href="#" data-rd-multi-selection="item" data-rd-value="example{{$exampleN}}"
                   class="rd-info-label rd-active">Example-{{Add $exampleN 1}}</a>
            {{end}}
        </p>
        <div class="rd-code-example" data-rd-multi-selection="contents">
            {{range $exampleN, $example := .Examples -}}
                <div class="rd-code-example-item show" data-rd-identifier="multi-selection__json__example{{$exampleN}}">
                    {{$example}}
                </div>
            {{end}}
        </div>
    {{end}}
{{- end}}

{{define "custom_type_properties" -}}
    {{range $prop := . -}}
        <div class="rd-definition-term">
            <h4>
                {{$prop.Name}}
                <span class="definition">
                    {{$prop.Type}}{{if $prop.Required}}, required{{else}}optional{{end}}
                </span>
            </h4>
            <div class="rd-definition-term">{{.Description}}</div>
            {{if $prop.Properties}}
                {{template "custom_type_properties" $prop.Properties}}
            {{else}}
                {{with $prop.Type|CustomTypeByName}}
                    {{template "custom_type_properties" .Properties}}
                {{end}}
            {{end}}
        </div>
    {{- end}}
{{- end}}